extends layout

block content
  script
    var api = { host: "#{server.api.host}", port: #{server.api.port}, uri: "#{server.api.uri}" };
    var web = { host: "#{server.web.host}", port: #{server.web.port}, uri: "#{server.web.uri}" };

  script(src: '/scripts/hawk.js')
  script(src: '/scripts/console.js')
  script(src: server.api.uri + '/socket.io/socket.io.js')

  #test-form
    label URI: 
      input#uri(size: '90', type: 'text', value: server.api.uri + '/projects')
    select#httpMethod
      option(selected: 'selected') GET
      option POST
      option PUT
      option DELETE
      option HEAD
    button.blue-button.right(onclick: 'sendRequest();') Execute
    br
    label Payload: 
      input#content(size: '100', type: 'text')
    .clearfix

  #text-box

    p
    | Result:
    p
      pre
        #response
    p
    | Stream:
    span#session
    pre
      #stream

  .clearfix

  script
    fetchToken();
