extends layout

block content
  script
    var api = { host: "#{host.api.domain}", port: #{host.api.port}, uri: "#{host.uri("api")}" };
    var web = { host: "#{host.web.domain}", port: #{host.web.port}, uri: "#{host.uri("web")}" };

  script(src: '/scripts/hawk.js')
  script(src: '/scripts/console.js')
  script(src: host.uri('api') + '/socket.io/socket.io.js')

  #test-form
    label URI: 
      input#uri(size: '90', type: 'text', value: host.uri('api') + '/projects')
    select#httpMethod
      option(selected: 'selected') GET
      option POST
      option PUT
      option DELETE
      option HEAD
    button.blue-button.right(onclick: 'sendRequest();') Execute
    br
    label Payload: 
      input#content(size: '100', type: 'text')
    .clearfix

  #text-box

    p
    | Result:
    p
      pre
        #response
    p
    | Stream:
    span#session
    pre
      #stream

  .clearfix

  script
    fetchToken();
