#two-columns
  .left
    ul.login-nav
      li
        a(href: '/account/profile') Profile
      li
        a(href: '/account/linked') Linked Accounts
      li.active
        a(href: '/account/emails') Email Addresses

    a#bottom.blue(href: '/') &larr; Back to #{product.name}

  .right
    form#emails-form(method: 'post', action: '/account/emails')
      input(type: 'hidden', name: 'crumb', value: crumb)
      input#emails-form-address(type: 'hidden', name: 'address')
      input#emails-form-action(type: 'hidden', name: 'action')

    - if (profile.emails && profile.emails.length > 0)
      h3 Your primary email address:
      .email-box.primary
        - if (profile.emails[0].isVerified)
          .verified-badge.badge Verified
        - else
          a.verify-button.badge(href: 'javascript: emailAction("verify", "' + profile.emails[0].address + '")') Verify
        p #{profile.emails[0].address}
        .clearfix

      - if (profile.emails.length > 1)
        h3 Additional email addresses:
        - for (var i in profile.emails)
          - if (i != 0)
            .email-box
              - if (profile.emails[i].isVerified)
                .verified-badge.badge Verified
                p #{profile.emails[i].address}
                  br
                  a.action(href: 'javascript: emailAction("primary", "' + profile.emails[i].address + '")') Make Primary
                  a.action(href: 'javascript: emailAction("remove", "' + profile.emails[i].address + '")') Delete
              - else
                a.verify-button.badge(href: 'javascript: emailAction("verify", "' + profile.emails[i].address + '")') Verify
                p.unverified #{profile.emails[i].address}
                  br
                  a.action(href: 'javascript: emailAction("remove", "' + profile.emails[i].address + '")') Delete
            .clearfix
    - else
      | You do not have any linked email addresses.
      .clearfix
      | #{product.name} uses your email address to notify you of invitations and other alerts,
      | as well as the only mean to recover your account in case your Facebook,
      | Twitter, or Yahoo! linked accounts no longer work.
      .clearfix

    .clearfix

    form
      label Add an email address:
      input#add-email(type: 'text', placeholder: 'your email address')

    button.blue-button(onclick: 'addEmail();') Add
    .clearfix
    #add-email-status.error &nbsp;
    .clearfix

  .clearfix
