#two-columns
  .left
    ul.login-nav
      li.active
        a(href: '/tos') #{product.name} Invitation

    a#bottom.blue(href: '/') &larr; Back to #{product.name}

  .right
    h3 You've Been Invited to Participate in a #{product.name} List

    #text-box #{inviter} invited you to collaborate on '#{title}'. If you already have a #{product.name} account, please sign in:

      form(method: 'get', action: '/login')
        input(name: 'next', type: 'hidden', value: '/i/' + code)
        button.blue-button Sign In
        .clearfix

      | Otherwise, sign-up for a new account:

      form(method: 'post', action: '/signup/invite/register')
        button.blue-button Sign Up for a New Account

  .clearfix
