!!! 5

html(lang: 'en')

  head
    title #{product.name}
    meta(http-equiv: 'Content-Language', content: 'en-us')
    meta(http-equiv: 'Content-Type', content: 'text/html; charset=utf-8')
    link(rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon')
    link(rel: 'stylesheet', href: '/css/base.css', type: 'text/css', media: 'screen', charset: 'utf-8')
    link(rel: 'stylesheet', href: '/css/node-menunav-core.css', type: 'text/css', media: 'screen', charset: 'utf-8')
    script(src:'https://sec.yimg.com/combo?yui-ssl/3.3.0/build/yui/yui-min.js', language: 'javascript', type: 'text/javascript')
    script(src:'/scripts/base.js', language: 'javascript', type: 'text/javascript')
    script(language: 'javascript', type: 'text/javascript') var env = !{JSON.stringify(env)}; var apiURI = '!{host.uri('api')}';

  body(onload: 'onPageReady(' + (profile !== null) + ');', class: (typeof theme === 'string' ? theme : ''))

    #background

    #notify
    #overlay(onclick: 'closeOverlay();')

    #top
      #top-bar
        - if (typeof logo !== 'boolean' || logo !== false)
          a#logo(href: '/') #{product.name}
        - else
          a#logo.invisible(href: '/') #{product.name}

      - if (profile)
          #account.yui3-menu
            a.menu-label.yui3-menu-label.yui3-menu-toggle(href: '#account-menu')
              .menu-offset
                .account-icon
                .name #{profile.name || profile.username || (profile.emails && profile.emails[0] && profile.emails[0].address ? profile.emails[0].address : 'New User')}
                .menu-arrow
            #account-menu.yui3-menu.hidden
              .icon-tab
              .menu-box.yui3-menu-content
                ul
                  li.yui-menuitem
                    a.yui-menuitem-content(href: '/account') Account
                  li.yui-menuitem
                    a.yui-menuitem-content(href: '/logout') Log Out
        - else
          #account.login
            a.menu-label(href: '/login')
              .account-icon
              .name Sign in

    #main-box.clearfix

      != body

    #footer.clearfix
      #footer-bar
        ul.links-left
          li
            a(href: '/about') About
          li
            a(href: '#') Blog
          li
            a(href: '/developer') Developer
          li
            a(href: '#') Terms
          li
            a(href: '#') Privacy
          li
            a.facebook-footer(href: 'http://facebook.com/postmile') Facebook
          li
            a.twitter-footer(href: 'http://twitter.com/postmile') Twitter

        .copyright
          p Copyright &copy; 2011. All rights reserved.
      #footer-background
